<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <body>
    <center>
        <h1>OOPS..</h1>
        <h1>You Entered Worng URL</h1>
        <h3>save</h3>
        <h3>add</h3>
        <h3>update</h3>
        <h3>deleteall</h3>
        <h3>deletebyid</h3>
        <h3>find</h3>
        <h3>findall</h3>
        <h3></h3>
    </center>
    </body>
</html>
